@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.full {
	max-width: 80%;
	margin:0 auto;
}


$blue:#00748d;

.btn:focus {
	box-shadow:inherit;
}

$white:#fff;

p {
	font-size: 16px;
	font-weight: 300;
}

#header {
	padding:40px 0;

	.logo {
		width: 100%;
	}
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 600!important;
}

.container {
	max-width: 65%!important;
}

.shipping-text {
    display: none;
}

#checkout-page {
	margin:30px 0;

	label {
		font-weight: 600;
		margin-bottom: 5px;
	}

	.form-control {
		border:2px solid $blue;
		border-radius:0;
	}
}

.info-category {

	h3 {
		color: $blue;
		font-weight: 700!important;
		margin-bottom: 20px;
	}

	h4 {
		strong {
			font-weight: 700;
		}
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		margin-bottom: 30px!important;
		display: block;
		color: $blue;
		font-weight: 500;
	}

	p {
		strong {
			font-weight: 600;
		}
	}

	.accordion-button {
		border:0;
		background-color:transparent;
		box-shadow: 0;
		padding:0;
		color: $blue;
		font-weight: 700;
	}

	.accordion-body {
		padding:13px 0;
		font-size: 15px;
		font-weight: 500;
	}

	.accordion-button:not(.collapsed) {
		color: $blue;
		background-color:inherit;
		box-shadow: inherit;
	}

	.accordion-item {
		border:0;
		padding:15px 0;
		border-top:2px solid $blue!important;
	}
}

.add_to_cart_inline {
	border:0!important;
	padding:0!important;
}

.wc-proceed-to-checkout {
	.btn-primary {
		background-color:$blue!important;
		border:0;
	}
}

#related-course {
	margin-top: 40px;

	.item-course {
		text-align: center;

		.amount {
			font-size:18px;
		}

		.img {
			height: 280px;
			background-size:cover;
			background-position:center;
		}

		h4 {
			color: $blue;
			font-size: 18px;
		}

		p {
			margin:10px 0;
		}

		ul {
			padding:15px;
			border-radius:0 0 10px 10px;

			li {
				list-style-type: none;
				font-size: 14px;
				color: black;
			}
		}

		.btn {
			color:#fff;
			padding:5px 30px;
			background-color:$blue;
			border-radius: 20px;
			font-weight: 600;
			display: inline-block!important;
			text-transform: Initial;
			border:0;
		}
	}
}

.variations {
	width: 100%!important;

	.label {
		display: none;
	}
}

.woocommerce-variation.single_variation {
    margin-bottom: 0;
}

.yith-quick-view-content {

	&.woocommerce div.summary h1 {
		font-size: 25px!important;
		color:#00748d!important;
		font-weight: 700!important;
	}

	.amount {
		font-size: 25px!important;
		font-weight: 600;
	}

	.btn-primary {
		background-color:#00748d!important;
		border:0;
		padding:10px 25px!important;
	}
}

.aditional-cube {
	padding:15px;
	background-color:#ececec;
	border-radius:10px;
	color: black;
	margin-top: 20px;

	p {
		padding: 0;
		margin:0;
		font-weight: 700;
	}

	.btn {
		margin-top: 10px;
		display: inline-block!important;
	}
}

.aditional-infoo {

	span {
		display: block;
	}
}

.book {
	.btn {
		background-color:$blue;
		color: $white;
		border:0;

		&:hover {
			background-color:$blue;
		}
	}
}

.item-border {
	border:1px solid #ececec;
	padding:10px;
	text-align:center;
	background-color:#ececec;
	border-radius:10px;
	margin-bottom: 10px;

	h3 {
		font-size: 20px;
	}
}

#category {
	padding:40px 0;

	.add-to-cart-container {
		display: inline-block;
		color: white;
	}

	.woocommerce-loop-product__title {
		font-size: 20px;
		color:#00748d;
		font-weight: 700;
	}

	.yith-wcqv-button {
	    color: #fff;
	    padding: 8px 35px;
	    background-color:#00748d;
	    border:0;
	    border-radius: 20px;
	    font-weight: 600;
	}

	.woocommerce-loop-product__link {
	    margin-bottom: 0!important;
	}

	.include {
		background-color:$blue;
		display: inline-block;
		color:#fff;
		padding:5px 12px;
		border-radius:10px;
		font-size: 14px;

		.i {
			color:#fff;
		}
	}

	p {
		margin:10px 0;
		font-size: 15px;
		font-weight: 500;
	}

	h1 {
		color: $blue;
		font-size: 35px;
		margin-bottom: 30px;
	}

	a {
		text-transform: initial;
		margin-bottom: 10px;
	}

	.img {
		position:relative;
		height: 400px;
		background-size:cover;
		background-position: top;
		background-repeat:no-repeat;

		.blue {
			background-color:rgba(0,116,141,0.8);
			position:absolute;
			width: 100%;
			padding:15px;
			bottom:40px;

			h2 {
				font-size: 22px;
				font-weight:bold;
				line-height: 25px;
				color: white;
			}
		}
	}

	.blue {
		h2 {
			font-size: 18px;
			color: $blue;
			margin:20px 0;
			font-weight: bold;

			span {
				font-size: 18px;
				display: block;
			}
		}
	}

	.btn-grey {
		margin-top: 5px;
		color:#fff;
		padding:5px 35px;
		background-color:grey;
		border-radius: 20px;
		font-weight: 600;

		&:hover {
			opacity: 0.9;
		}
	}
}

.info-category .breadcrumb a {
	margin-bottom:0!important;
}

#cart {
	padding:60px 0px;
}

.item-related {
	h4 {
		font-size: 20px;
		font-weight: 600;
		color: $blue;
		margin-bottom: 0;
	}

	.text {
		height: 140px;

		.inner {
			position:relative;
			top:50%;
			transform: translate(0,-50%);
		}
	}

	ul {
		padding:0;

		li {
			list-style-type: none;
			font-size: 13px;
		}
	}

	.price {
		margin:9px 0;
		font-size: 17px;

		.amount bdi, .amount, .price, .price span {
			font-weight: 700;
		}
	}

	.btn {
		color:#fff;
		padding:5px 30px;
		background-color:$blue;
		border-radius: 20px;
		font-weight: 600;
		display: inline-block!important;
		text-transform: Initial;
		border:0;
	}
}

#category-woo {
	padding:30px 0;

	h1 {
		color: $blue;
		margin-bottom: 30px;
	}

	.category-item {

		img {
			width: 100%;
		}

		h3 {
			color:$blue;
			font-size: 20px;
			text-align: center;
		}
	}
}

footer {
	background-color:$blue;
	padding:15px 0;

	p {
		font-size: 18px;
		color: white;
		margin:0;
	}
}

#curriculum-popup {
	position:relative;
	padding:30px;
	border-radius:10px;

	.elda {
		margin:0 auto;
		max-width: 200px;
		display: block;
		border-radius:50%;
		margin-bottom: 20px;
		border:10px solid #ececec;
	}

	h3 {
		text-align: center;
		color:$blue;
		font-size: 23px;
		font-weight: 700!important;
	}

	.line {
		width: 100%;
		background-color:$blue;
		height: 1px;
		margin:20px auto;
		display: block;
	}

	p {
		text-align: justify;
		font-size: 15px;
	}
}

#single-product {
	padding:50px 0;
}


.woocommerce-order-downloads {
	a {
		color: $blue;
		font-size: 15px;
	}
}

a.woocommerce-MyAccount-downloads-file.btn.btn-outline-primary.btn-sm {
	background-color:$blue;
	color:$white;
	border:0;
	border-radius:0;
}

@media only screen and (max-width : 1536px) {

	#category .img .blue {
	    padding: 15px;
	    height: 100px;
	}

	.item-related ul {
	    height: 85px;
	    padding: 0;
	}
}

@media only screen and (max-width : 1366px) {

	#category .img .blue h2 {
		font-size: 19px;
	    position: relative;
	    top: 50%;
	    transform: translate(0,-50%);
	    margin: 0;
	}

	#category .blue h2 {
	    font-size: 23px;
	}

}

@media only screen and (max-width : 1200px) {

	#category .img .blue {
	    padding: 20px;
	}

	.item-related ul {
		height: 75px;

		li {
	    	list-style-type: none;
		    font-size: 12px;
		}   
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	#category .img .blue {
		height: 100px;
	}

	#category .blue h2 {
	    font-size: 14px;
	    line-height: 17px;
	}
}

@media only screen and (max-width : 991px) {

	.item-related ul {
	    height: inherit;
	}

	.item-related ul li {
	    font-size: 17px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	#category img {
	    width: 60%;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	#category img {
	    width: 90%;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}