@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.full {
  max-width: 80%;
  margin: 0 auto;
}

.btn:focus {
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

p {
  font-size: 16px;
  font-weight: 300;
}

#header {
  padding: 40px 0;
}
#header .logo {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
}

.container {
  max-width: 65% !important;
}

.shipping-text {
  display: none;
}

#checkout-page {
  margin: 30px 0;
}
#checkout-page label {
  font-weight: 600;
  margin-bottom: 5px;
}
#checkout-page .form-control {
  border: 2px solid #00748d;
  border-radius: 0;
}

.info-category h3 {
  color: #00748d;
  font-weight: 700 !important;
  margin-bottom: 20px;
}
.info-category h4 strong {
  font-weight: 700;
}
.info-category a {
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 30px !important;
  display: block;
  color: #00748d;
  font-weight: 500;
}
.info-category p strong {
  font-weight: 600;
}
.info-category .accordion-button {
  border: 0;
  background-color: transparent;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  padding: 0;
  color: #00748d;
  font-weight: 700;
}
.info-category .accordion-body {
  padding: 13px 0;
  font-size: 15px;
  font-weight: 500;
}
.info-category .accordion-button:not(.collapsed) {
  color: #00748d;
  background-color: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}
.info-category .accordion-item {
  border: 0;
  padding: 15px 0;
  border-top: 2px solid #00748d !important;
}

.add_to_cart_inline {
  border: 0 !important;
  padding: 0 !important;
}

.wc-proceed-to-checkout .btn-primary {
  background-color: #00748d !important;
  border: 0;
}

#related-course {
  margin-top: 40px;
}
#related-course .item-course {
  text-align: center;
}
#related-course .item-course .amount {
  font-size: 18px;
}
#related-course .item-course .img {
  height: 280px;
  background-size: cover;
  background-position: center;
}
#related-course .item-course h4 {
  color: #00748d;
  font-size: 18px;
}
#related-course .item-course p {
  margin: 10px 0;
}
#related-course .item-course ul {
  padding: 15px;
  border-radius: 0 0 10px 10px;
}
#related-course .item-course ul li {
  list-style-type: none;
  font-size: 14px;
  color: black;
}
#related-course .item-course .btn {
  color: #fff;
  padding: 5px 30px;
  background-color: #00748d;
  border-radius: 20px;
  font-weight: 600;
  display: inline-block !important;
  text-transform: Initial;
  border: 0;
}

.variations {
  width: 100% !important;
}
.variations .label {
  display: none;
}

.woocommerce-variation.single_variation {
  margin-bottom: 0;
}

.yith-quick-view-content.woocommerce div.summary h1 {
  font-size: 25px !important;
  color: #00748d !important;
  font-weight: 700 !important;
}
.yith-quick-view-content .amount {
  font-size: 25px !important;
  font-weight: 600;
}
.yith-quick-view-content .btn-primary {
  background-color: #00748d !important;
  border: 0;
  padding: 10px 25px !important;
}

.aditional-cube {
  padding: 15px;
  background-color: #ececec;
  border-radius: 10px;
  color: black;
  margin-top: 20px;
}
.aditional-cube p {
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.aditional-cube .btn {
  margin-top: 10px;
  display: inline-block !important;
}

.aditional-infoo span {
  display: block;
}

.book .btn {
  background-color: #00748d;
  color: #fff;
  border: 0;
}
.book .btn:hover {
  background-color: #00748d;
}

.item-border {
  border: 1px solid #ececec;
  padding: 10px;
  text-align: center;
  background-color: #ececec;
  border-radius: 10px;
  margin-bottom: 10px;
}
.item-border h3 {
  font-size: 20px;
}

#category {
  padding: 40px 0;
}
#category .add-to-cart-container {
  display: inline-block;
  color: white;
}
#category .woocommerce-loop-product__title {
  font-size: 20px;
  color: #00748d;
  font-weight: 700;
}
#category .yith-wcqv-button {
  color: #fff;
  padding: 8px 35px;
  background-color: #00748d;
  border: 0;
  border-radius: 20px;
  font-weight: 600;
}
#category .woocommerce-loop-product__link {
  margin-bottom: 0 !important;
}
#category .include {
  background-color: #00748d;
  display: inline-block;
  color: #fff;
  padding: 5px 12px;
  border-radius: 10px;
  font-size: 14px;
}
#category .include .i {
  color: #fff;
}
#category p {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 500;
}
#category h1 {
  color: #00748d;
  font-size: 35px;
  margin-bottom: 30px;
}
#category a {
  text-transform: initial;
  margin-bottom: 10px;
}
#category .img {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
#category .img .blue {
  background-color: rgba(0, 116, 141, 0.8);
  position: absolute;
  width: 100%;
  padding: 15px;
  bottom: 40px;
}
#category .img .blue h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 25px;
  color: white;
}
#category .blue h2 {
  font-size: 18px;
  color: #00748d;
  margin: 20px 0;
  font-weight: bold;
}
#category .blue h2 span {
  font-size: 18px;
  display: block;
}
#category .btn-grey {
  margin-top: 5px;
  color: #fff;
  padding: 5px 35px;
  background-color: grey;
  border-radius: 20px;
  font-weight: 600;
}
#category .btn-grey:hover {
  opacity: 0.9;
}

.info-category .breadcrumb a {
  margin-bottom: 0 !important;
}

#cart {
  padding: 60px 0px;
}

.item-related h4 {
  font-size: 20px;
  font-weight: 600;
  color: #00748d;
  margin-bottom: 0;
}
.item-related .text {
  height: 140px;
}
.item-related .text .inner {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.item-related ul {
  padding: 0;
}
.item-related ul li {
  list-style-type: none;
  font-size: 13px;
}
.item-related .price {
  margin: 9px 0;
  font-size: 17px;
}
.item-related .price .amount bdi, .item-related .price .amount, .item-related .price .price, .item-related .price .price span {
  font-weight: 700;
}
.item-related .btn {
  color: #fff;
  padding: 5px 30px;
  background-color: #00748d;
  border-radius: 20px;
  font-weight: 600;
  display: inline-block !important;
  text-transform: Initial;
  border: 0;
}

#category-woo {
  padding: 30px 0;
}
#category-woo h1 {
  color: #00748d;
  margin-bottom: 30px;
}
#category-woo .category-item img {
  width: 100%;
}
#category-woo .category-item h3 {
  color: #00748d;
  font-size: 20px;
  text-align: center;
}

footer {
  background-color: #00748d;
  padding: 15px 0;
}
footer p {
  font-size: 18px;
  color: white;
  margin: 0;
}

#curriculum-popup {
  position: relative;
  padding: 30px;
  border-radius: 10px;
}
#curriculum-popup .elda {
  margin: 0 auto;
  max-width: 200px;
  display: block;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 10px solid #ececec;
}
#curriculum-popup h3 {
  text-align: center;
  color: #00748d;
  font-size: 23px;
  font-weight: 700 !important;
}
#curriculum-popup .line {
  width: 100%;
  background-color: #00748d;
  height: 1px;
  margin: 20px auto;
  display: block;
}
#curriculum-popup p {
  text-align: justify;
  font-size: 15px;
}

#single-product {
  padding: 50px 0;
}

.woocommerce-order-downloads a {
  color: #00748d;
  font-size: 15px;
}

a.woocommerce-MyAccount-downloads-file.btn.btn-outline-primary.btn-sm {
  background-color: #00748d;
  color: #fff;
  border: 0;
  border-radius: 0;
}

@media only screen and (max-width: 1536px) {
  #category .img .blue {
    padding: 15px;
    height: 100px;
  }

  .item-related ul {
    height: 85px;
    padding: 0;
  }
}
@media only screen and (max-width: 1366px) {
  #category .img .blue h2 {
    font-size: 19px;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    margin: 0;
  }

  #category .blue h2 {
    font-size: 23px;
  }
}
@media only screen and (max-width: 1200px) {
  #category .img .blue {
    padding: 20px;
  }

  .item-related ul {
    height: 75px;
  }
  .item-related ul li {
    list-style-type: none;
    font-size: 12px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #category .img .blue {
    height: 100px;
  }

  #category .blue h2 {
    font-size: 14px;
    line-height: 17px;
  }
}
@media only screen and (max-width: 991px) {
  .item-related ul {
    height: inherit;
  }

  .item-related ul li {
    font-size: 17px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #category img {
    width: 60%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #category img {
    width: 90%;
  }
}
/* Custom, iPhone Retina */